<launch>
	<node pkg="depthimage_to_laserscan" name="depthimage_to_laserscan" type="depthimage_to_laserscan">
		<remap from="image" to="/camera/depth/image_raw"/>
		<remap from="camera_info" to="/camera/depth/camera_info"/>
	</node>

	<include file="$(find openni2_launch)/launch/openni2.launch" />
	
</launch>
