<launch>
	<include file="$(find mbot_pointer)/launch/inlcude/mbot_services.launch"/>
	<include file="$(find mbot_pointer)/launch/include/xtion_launch.launch"/>

	<group ns="ranger">
		<node pkg="rosserial_python" type="serial_node.py" args="/dev/ttyUSB0"
			name="mbot_ranger">
		</node>
	</group>

</launch>
